*.swp
*.swx
*.o
*.a
*.so
*.out
*.dll
*.lib
*.exp
*.tmp
*.ilk
*.pdb
*.exe
*vgcore.*
*.gdb_history
*.spv
imgui.ini
.vs/
.xmake/
.cache/
Objects/
Bin/
.vscode/
compile_commands.json
ScopEngine/Objects/
ScopEngine/Assets/Shaders/Build/
